In [1]:
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt
import matplotlib as pl

%matplotlib inline

In [2]:
train = pd.read_excel('F:\\study material\\covid 19 dataset\\Train_dataset.xlsx')
train.head(10)

,people_ID,Region,Gender,Designation,Name,Married,Children,Occupation,Mode_transport,cases/1M,...,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month,Infect_Prob
0,1,Bhubaneshwar,Female,Mrs,mansi,YES,1.0,Farmer,Public,2,...,93.0,233.0,82.0,58.0,27,7,3600000.0,1300000,2.0,49.135010
1,2,Bhubaneshwar,Female,Mrs,riya masi,YES,2.0,Farmer,Walk,2,...,56.0,328.0,89.0,68.0,5,6,1600000.0,400000,1.0,51.147880
2,3,Bhubaneshwar,Female,Mrs,sunita,NO,1.0,Cleaner,Public,2,...,137.0,213.0,77.0,43.0,40,6,3400000.0,900000,1.0,73.224000
3,4,Bhubaneshwar,Female,Mrs,anjali @ babli,YES,1.0,Driver,Car,2,...,167.0,275.0,64.0,60.0,27,7,700000.0,2300000,1.0,48.779225
4,5,Bhubaneshwar,Female,Mrs,champa karketta,NO,2.0,Manufacturing,Car,2,...,153.0,331.0,71.0,64.0,32,7,3200000.0,1100000,1.0,87.868800
5,6,Bhubaneshwar,Female,Mrs,sandhya,YES,1.0,Clerk,Public,2,...,86.0,216.0,94.0,38.0,5,5,4600000.0,1900000,2.0,49.518345
6,7,Bhubaneshwar,Female,Mrs,iqra,YES,2.0,Manufacturing,Car,2,...,156.0,311.0,99.0,68.0,23,5,4000000.0,1600000,1.0,49.670361
7,8,Bhubaneshwar,Female,Mrs,renu @ rinki,YES,1.0,Manufacturing,Public,2,...,179.0,242.0,82.0,59.0,34,3,4100000.0,1200000,0.0,49.121025
8,9,Bhubaneshwar,Female,Mrs,kalyani patro,YES,2.0,Sales,Public,2,...,156.0,NaN,NaN,37.0,21,7,4500000.0,900000,0.0,48.531922
9,10,Bhubaneshwar,Female,Mrs,gurdeep kaur,YES,1.0,Farmer,Public,2,...,178.0,277.0,83.0,58.0,28,4,2200000.0,1400000,2.0,48.475097

In [3]:
test = pd.read_excel('F:\\study material\\covid 19 dataset\\Test_dataset.xlsx')
test.head(10)

,people_ID,Region,Gender,Designation,Name,Married,Children,Occupation,Mode_transport,cases/1M,...,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month
0,5942,Delhi,Female,Mrs,smt rekha prajapat,YES,2,Driver,Public,4,...,153,196,240,85,53,17,3,3900000,1300000,1
1,18664,Delhi,Male,Mr,nirmal,YES,2,Legal,Walk,4,...,95,138,241,81,61,2,5,1800000,1300000,1
2,5603,Delhi,Female,Mrs,pinky,YES,2,Sales,Car,4,...,40,166,236,88,47,24,3,5000000,2000000,2
3,5649,Delhi,Female,Mrs,pooja @aafrin,YES,2,Sales,Car,4,...,78,83,211,87,52,13,6,3100000,600000,2
4,5099,Delhi,Female,Mrs,anjali,YES,2,Business,Car,4,...,109,207,312,94,68,39,5,2300000,1500000,1
5,18749,Delhi,Male,Mr,diwan chand,YES,2,Sales,Walk,4,...,35,185,291,75,61,26,6,3400000,1700000,1
6,5228,Delhi,Female,Mrs,sunita,YES,2,Driver,Car,4,...,82,152,246,75,42,5,3,3500000,1000000,2
7,5559,Delhi,Female,Mrs,gaytri,YES,2,Manufacturing,Walk,4,...,117,112,343,68,54,24,3,3500000,400000,1
8,5220,Delhi,Female,Mrs,ritu,YES,2,Researcher,Public,4,...,89,107,224,80,53,5,6,1800000,1600000,2
9,5476,Delhi,Female,Mrs,poonam,YES,2,Researcher,Public,4,...,57,146,303,81,48,31,7,500000,800000,1

In [4]:
train['Children'].value_counts().idxmax()
test['Children'].value_counts().idxmax()

train['Children'].fillna('2.0',inplace = True)
test['Children'].fillna('2.0',inplace = True)

train['Occupation'].value_counts().idxmax()
test['Occupation'].value_counts().idxmax()

train['Occupation'].fillna('Legal',inplace = True)
test['Occupation'].fillna('Legal',inplace = True)


train['Mode_transport'].value_counts().idxmax()
test['Mode_transport'].value_counts().idxmax()

train['Mode_transport'].fillna('Public',inplace = True)
test['Mode_transport'].fillna('Public',inplace = True)

train['cardiological pressure'].fillna('Normal',inplace = True)
test['cardiological pressure'].fillna('Normal',inplace = True)

train['Diuresis'].fillna('276.0',inplace = True)
test['Diuresis'].fillna('276.0',inplace = True)

train['Platelets'].fillna('88.0',inplace = True)
test['Platelets'].fillna('88.0',inplace = True)

train['HBB'].fillna('117.0',inplace = True)
test['HBB'].fillna('117.0',inplace = True)

train['d-dimer'].fillna('276.0',inplace = True)
test['d-dimer'].fillna('276.0',inplace = True)

train['Heart rate'].fillna('75.0',inplace = True)
test['Heart rate'].fillna('75.0',inplace = True)

train['HDL cholesterol'].fillna('53.0',inplace = True)
test['HDL cholesterol'].fillna('53.0',inplace = True)

train['Insurance'].fillna('2600000.0',inplace = True)
test['Insurance'].fillna('2600000.0',inplace = True)

train['FT/month'].fillna('1.0',inplace = True)
test['FT/month'].fillna('1.0',inplace = True)

In [5]:
dummies = pd.get_dummies(train['comorbidity'])
dummies1 = pd.get_dummies(test['comorbidity'])

train = pd.concat([train,dummies],axis='columns')
test = pd.concat([test,dummies1],axis='columns')

train.drop('comorbidity',axis='columns',inplace=True)
test.drop('comorbidity',axis='columns',inplace=True)

train.drop('None',axis='columns',inplace=True)
test.drop('None',axis='columns',inplace=True)

In [6]:
dummies = pd.get_dummies(train['Mode_transport'])
dummies1 = pd.get_dummies(test['Mode_transport'])

train = pd.concat([train,dummies],axis='columns')
test = pd.concat([test,dummies1],axis='columns')

train.drop('Mode_transport',axis='columns',inplace=True)
test.drop('Mode_transport',axis='columns',inplace=True)

In [7]:
from sklearn.preprocessing import LabelEncoder

le_married = LabelEncoder()
le_occupation = LabelEncoder()
le_gender = LabelEncoder()

#train
train['Married_n'] = le_married.fit_transform(train['Married'])
train['Occupation_n'] = le_occupation.fit_transform(train['Occupation'])
train['Gender_n'] = le_gender.fit_transform(train['Gender'])

#test
test['Married_n'] = le_married.fit_transform(test['Married'])
test['Occupation_n'] = le_occupation.fit_transform(test['Occupation'])
test['Gender_n'] = le_gender.fit_transform(test['Gender'])

In [8]:
train.drop('Married',axis='columns',inplace=True)
test.drop('Married',axis='columns',inplace=True)

train.drop('Occupation',axis='columns',inplace=True)
test.drop('Occupation',axis='columns',inplace=True)

train.drop('Gender',axis='columns',inplace=True)
test.drop('Gender',axis='columns',inplace=True)

In [9]:
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing
scaler = MinMaxScaler()

#train
scaler.fit(train[['Insurance']])
train['Insurance'] = scaler.transform(train[['Insurance']])

scaler.fit(train[['salary']])
train['salary'] = scaler.transform(train[['salary']])

#test
scaler.fit(test[['Insurance']])
test['Insurance'] = scaler.transform(test[['Insurance']])

scaler.fit(test[['salary']])
test['salary'] = scaler.transform(test[['salary']])

In [10]:
train.replace({'<100':0, '<200':1, '<300':2, '<400':3},inplace = True)
train.replace({'Elevated':0, 'Normal':1, 'Stage-01':2, 'Stage-02':3},inplace = True)


test.replace({'<100':0, '<200':1, '<300':2, '<400':3},inplace = True)
test.replace({'Elevated':0, 'Normal':1, 'Stage-01':2, 'Stage-02':3},inplace = True)

In [11]:
train = train.drop(['people_ID','Name','Designation'], axis = 1)

In [12]:
train_x = train.drop(['Infect_Prob','Region'],axis = 1)

train_y = train.Infect_Prob

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(train_x,train_y,test_size = 0.2)

In [14]:
len(train_x)

10714

In [15]:
len(x_train)

8571

In [16]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
model.predict(x_test)

array([51.055515  , 49.39867796, 52.1207737 , ..., 47.42924404,
       56.60211267, 51.54180423])

In [18]:
model.score(x_test,y_test)

0.3155921277581706

In [19]:
from sklearn.metrics import r2_score

r2_score(y_test,model.predict(x_test))

0.3155921277581706

In [20]:
from sklearn.tree import DecisionTreeRegressor

clf = DecisionTreeRegressor(max_depth =10
                           )

clf.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=10, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [21]:
clf.predict(x_test)

array([49.30769242, 48.46236006, 50.50840376, ..., 47.29665742,
       61.32329639, 50.9182682 ])

In [22]:
clf.score(x_train,y_train)

0.6630391503468498

In [23]:
from sklearn.svm import SVR

mode = SVR(kernel = 'linear')

mode.fit(x_train,y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='linear', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [24]:
mode.predict(x_test)

array([49.77222528, 49.09379186, 51.46039007, ..., 47.60723727,
       57.28539797, 51.30142424])

In [25]:
mode.score(x_test,y_test)

0.28302802140336314